/.env
/test.json
/.vscode
/orders.json
/todo.md
/test.js
/node_modules
/MACD_records.txt
/RTW_records.txt
/manualTrade.js
/package-lock.json
/records/MACD
/records/CMF+MACD
/records/VWAP
/records/RTW
/records/SNIPER
/records/logs